<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Best series ever</title>
</head>
<body>
    <main class="images-main">
        <h1 class="h1-images">List with images</h1>
        <div class="img-container">
            <img src="handmaids.jpeg" alt="The handmaid's tale">
            <img src="got.jpg" alt="Game of Thrones">
            <img src="sherlock.jpg" alt="Sherlock Holmes">
            <img src="robot.jpg" alt="Mr. Robot">
            <img src="lost.jpg" alt="Lost">
            <img src="friends.jpg" alt="Friends">
        </div>
    </main>
</body>
</html>